<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>186704543601-4nkqm7okkqrjdgglac2viqk2o94il9to.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186704543601-4nkqm7okkqrjdgglac2viqk2o94il9to</string>
	<key>API_KEY</key>
	<string>AIzaSyAS-HLn3IDrsZtIlICuO4cay6upzNDsPvM</string>
	<key>GCM_SENDER_ID</key>
	<string>186704543601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.autobest.Autobest</string>
	<key>PROJECT_ID</key>
	<string>autobest-60f88</string>
	<key>STORAGE_BUCKET</key>
	<string>autobest-60f88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186704543601:ios:911fc3d25154af5effc0d0</string>
</dict>
</plist>